In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data.csv', names=["time", "x", "y", "z"])

df

       time         x         y         z
0    6424.0 -0.002535  0.022294  0.060766
1    6424.0 -0.002536  0.022295  0.060765
2    6440.0 -0.013410  0.015836  0.052195
3    6441.0 -0.013411  0.015837  0.052195
4    6457.0  0.006815  0.012605  0.040675
..      ...       ...       ...       ...
199  8074.0 -0.024984 -0.008489  0.041164
200  8090.0  0.008386  0.053540  0.067997
201  8090.0  0.008389  0.053541  0.067995
202  8108.0  0.017552  0.077418  0.065545
203  8109.0  0.017553  0.077418  0.065544

[204 rows x 4 columns]